
/* Mask */
.x-mask.x-loading-mask {
    opacity: 0.7;
}

.x-mask.x-loading-mask .x-mask-inner {
    background: transparent;
}


/* List */

.x-listitem-tool-dock > .x-inner-el {
    max-width: 100%;
}

.x-inner-el.x-listitem-inner-el {
    flex-basis: 100%;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.item-cover {
    flex-shrink: 0;
    flex-grow: 0;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
}

.item-title {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-controls {
    white-space: nowrap;
}